<html>
    <head>
       <title>Form Test Index</title>
    </head>
    <body>
        <h1>Index Page</h1>
        <h3>Create a User</h3>
            <form action='/process' method='POST'>
            Your Name: <input type='text' name='html_name'>
            Dojo Location: <select name="html_location">
                <option value="San Jose">San Jose</option>
                <option value="Chicago">Chicago</option>
                <option value="San Fran">San Fran</option>
                <option value="San Diego">San Diego</option>
                <option value="Austin">Austin</option>
            </select>
            Favorite Language: <select name="html_f_language">
                <option value="Ruby">Ruby</option>
                <option value="Python">Python</option>
                <option value="CSS">CSS</option>
                <option value="JavaScript">JavaScript</option>
                <option value="C++">C++</option>
            </select>
            Comments (optional): <input type='text' name='html_comments'>
          <input type='submit' value='submit'>
      </form>
    </body>
</html>