<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>ENTER TITLE</title>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssnormalize/cssnormalize-min.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
    <h1>Add your name to a database database!</h1><br><br>
    <form action="/users" method="post">
        <label for="name">Your Name:</label>
        <input type="text" name="name"><br>
        <label for="age">Your Age:</label>
        <input type="text" name="age"><br>
        <input type="submit" value="Submit">    
    </form>

    <h2>Here are all the users that have come before you:</h2>
        <hr>
    
</body>

</html>

