<h1><%= @user.first_name %></h1>

<a href="https://cryptonomos.com/?r=1w2NTgUbUZ2pdhETlIZjaRLyj"><img src="https://s3.cryptonomos.com/ref_banners/wtt/Bitcoin%20Price/img_1200_480_01.jpg" alt="Cryptonomos"/></a>