<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Friends /w Benefits</title>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssnormalize/cssnormalize-min.css">
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <h1>Friends List</h1>
    <h2>Add Friend</h2>
    <form action="/friends" method="POST">
        <label for="html_first_name">First Name </label><br>
        <input type="text" name="html_first_name"><br>
        <label for="html_last_name">Last Name  </label><br>
        <input type="text" name="html_last_name"><br>
        <label for="html_occupation">Occupation</label><br>
        <input type="text" name="html_occupation"><br>
        <label for="html_password">Password   </label><br>
        <input type="text" name="html_password"><br>
        <input type="submit" value="add friend">
    </form>
</body>

</html>