<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Pipe Dreams and Longshots</title>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssnormalize/cssnormalize-min.css">
</head>

<body>
    <h1>Welcome!</h1>
    <br>
    <h2>register</h2>
    <br>
    <form action="" method="post">
        <label for="html_name">name</label>
            <input type="text" name="html_name">
        <label for="html_username">username</label>
            <input type="text" name="html_username">
        <label for="html_password">password</label>
            <input type="password" name="html_password">
        <label for="html_confirm_password">confirm password</label>
            <input type="password" name="html_confirm_password">
        <label for="html_date_hired">hire date</label>
            <input type="date" name="html_register">
        <input type="submit" value="register" name="html_register">
    </form>
    <br>
    <hr>
    <h2>login</h2>
    <form action="" method="post">
        <label for="html_username">username</label>
            <input type="text" name="html_username">
        <label for="html_password">password</label>
            <input type="password" name="html_password">
        <input type="submit" value="login" name="submit">
    </form>
   
    

</body>

</html>