

* {
    box-sizing: border-box;
}

#wrapper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#header {
    width: 100%;
    background-color: #D8D8DC;
}


#sidebar {
    background-color: #828284;
}

.row {
    padding-left: 20px;
    clear: both; 
}

.content {
    padding: 20px;
}

.column {
    float: left;
 }

/* Small sized screens */
@media only screen and (max-width: 480px) {
    body { background: green; }
    .twelve-s { width: 100%; }
}

/* Medium sized screens */
@media only screen and (min-width: 481px) {
     body { background: red; }
    .four-m { width: 33.333333%; }
    .five-m { width: 41.66666%; }
    .seven-m { width: 58.33333%; }
    .eight-m { width: 66.66666%; }
}

/* Large sized screens */
@media only screen and (min-width: 1024px) {
     body { background: yellow; }
    .four-l { width: 33.333333%; }
    .eight-l { width: 66.66666%; }
}
 
