<html>
  <body>
    <h1>10 Revealing Facts About Japanese Ninja</h1>
        <p>One of the most famous icons of Japanese martial arts is the ninja. The shadow warriors of ancient Japan have gained an almost supernatural image in recent times. Ninja were one of the greatest        covert ops forces in history, but exactly who were they? And does reality match the striking image popular culture has created?
            10 “Ninja”
            Ninja Mask
            via Dani Vazquez
            The word “ninja” as we know it is actually a rather recent term. Understanding it, though, first requires look at the Chinese writing system, which the Japanese system is based on. The Chinese word for ninja             is 忍者, which Japanese pronounces as “ninja.” A lot of people will mistakenly tell you that the word means “invisible man,” but that’s a misconception. While the second character does roughly mean “person,”           the first means “endure,” “spy,” or “hide.”  Thus, the word ninja means “a person who endures or spies.”

            But, in spoken Japanese, the word for “one who endures or hides” is actually “shinobi mono.” Usually it was shortened to just “shinobi.” This was the common word people used to refer to the clandestine           warriors, not ninja.

            The word ninja came to be the exclusive term because it was easier to say for westerners. When westerners first arrived in Japan they were held in very high esteem because of their advanced technology. Often             they were even more honored than Japanese themselves. “Shinobi” was difficult for westerners to say, so the word “ninja” was adopted by all as the standardized form.

            The word for female ninjas, by the way, is kunoichi. It was almost unknown outside of Japan until very recently, thanks mostly to anime. It has a short, but interesting story. The word for woman in written           Japanese is 女. It’s made with three individual letters or words: く, which is pronounced “ku.” ノ, which is pronounced “no.” And 一 is pronounced as “ichi.” Ku-no-ichi.

            9 The Origin of Ninja
            Origen of ninja
            via Andres Alvarez Iglesias
            “One night, under the cover of rain and wind, Hachiman-yama was approached by a highly skilled shinobi who set fire to the temple.”

            That was first mention of a ninja in history. It was part of the Taiheiki, a 14th century war chronicle that recorded a war between two rival Japanese emperors. Since the author used the word “shinobi”           without having to explain it, it meant the word was already in common use by that time. That puts the recorded emergence of ninja sometime around the 1300’s.

            According to ninja lore, though, the shinobi’s history stretched all the way back to the eight century. The Nihon Shoki, a pseudo-historical document riddled with mythology, claims that Prince Shook had a            very skilled spymaster named Otomo-no-saibito.  The ninja manual Ninjutsu Ogiden claims he was so skilled that he and his organization of spies were given the title of “shinobi,” making him the ancestor of       all ninja. Ninjutsu Ogiden was written in 1840, though, over a thousand years after Prince Shotoku walked the earth, so take that with a grain of salt.

            8 Who Were Ninja?
            Ninja Stance
            via Jeyhun Pashayev
            Spying, espionage, and assassinations where deemed beneath the noble samurai, but were absolutely necessary for warfare, so ninja generally came from the common classes of foot soldiers and peasants. That is             not to say that no samurai held dual roles as ninja, however. One the most famous ninja of all time was Hattori Hanzo, who was recruited by the Tokugawa family as a samurai general. His skills as a ninja             allowed him to save the life of Tokugawa Ieyasu, and later helped him become the ruler of Japan.

            In the Taiheiki, the second use of the word shinobi has a group of ninja acting like exactly like samurai. They had been fighting off an invading force with arrows, but when they exhausted their ammunition,          the band committed suicide rather than allow themselves to be captured. Although shinobi did get their hands dirty, many ninja manuals extol valor, both on the battlefield and off.

            Still, a ninja could be nothing more than a common person with almost no training. Many locals were employed by ninja groups solely because they knew the terrain where they lived very well. Men like these            were sent out to travel and gather information , then report back with what they learned. Even the lowliest peasant could be a ninja, provided he was clever and knew his way around.

            7 What Did Ninja Look Like?
            Ninja Armor
            via Tony Oxborrow
            Ninja did have armor for major battles, but sadly, the image of the black-clad ninja uniform is a modern fantasy. Old pictures had ninja wearing black “ninja outfits” mainly because it implied invisibility.          Ninja were spies, and it was in a spy’s best interest not to stand out. Having a set uniform would hardly let someone blend in on a crowded street.

            Their clothes may have held a set of concealed weapons, but in general ninja looked like normal people. Many who infiltrated the ranks of a rival daimyo would pose as gardeners, construction workers, or          other mundane jobs until they were ready to strike. They were masters of disguise, and often dressed as traveled ascetic monks. Monks were one of the few groups who could pass through borders of Japan’s          numerous warring states unhindered. They were the perfect disguise for a ninja who needed to go back and forth between provinces to relay information.

            6 Ninja Manuals
            Ninja Manual
            via t–h–s
            There were several manuals written by ninja to pass their secrets onto later generations. The manuals cover a broad range of espionage techniques, from theory to tools of the trade. The Shoninki, for example,             discusses philosophical issues, but also more practical skills like breaking into enemy houses. Another manual, the Ninjutsu Ogiden, talks about military tactics but also goes in depth about how to concoct          magic medicines for keeping ninja in top physical condition for thousands of days.

            What you don’t see much of, however, is fighting techniques. Ninja were first and foremost spies, not fighters. Like today’s spies, the ninja who is forced to use his martial ability probably failed his          mission because he was discovered. Even the times when manuals did discuss fighting, it was more troop movements then hand-to-hand combat. Reading a ninja manual gives you the impression that ninja were          first and foremost spies, not fighters.

            5 Modern Ninjutsu
            modern ninjutsu
            via Danny Choo
            The lack of emphasis on any fighting style throws doubt on modern “ninjas” who claim to be part of any heritage of ninjutsu. While there are men who say they are the ancestors of ninja and that they          inherited their style of fighting from ancient ninja, none have any evidence of their “ninjahood” that predates the 1950’s.

            There is also no evidence of ninja even having any special martial arts, or anything resembling a combat system at all. While modern schools of “ninjustsu” certainly have earned their place in the world of           martial arts, there is little proof of their connection to historical ninja. It could be argued that the fighting style of the ninja was passed down orally so there was no need to write it down in a manual,          but there is still a disturbing lack of evidence to prove the claims of anyone teaching ancient “ninjutsu” in modern times. Still, a modern ninja may argue that, yes, there is no evidence–and that level of       secrecy is the pride of the shinobi code.

            4 The Iga and Koga Clans
            Iga and Koga Clans
            via m-louis
            In ancient Japan, the Iga and Koka (usually called Koga) districts were locked in a number of guerrilla wars with local samurai regions vying for power. It was from these skirmishes that their warriors           developed into what would later become known as ninja. These warriors were so feared that at one point it was said every daimyo needed either an Iga or a Koga man in his employ. They two clans were so widely         employed in samurai armies that it was said they were often on both sides of a conflict.

            Oda Nobunaga once sent his son, Nobuo, to destroy a rival daimyo in the Ise province in 1576. Nobuo quickly succeeded in defeating the ruling Kitabatake family, but some of the survivors managed to escape to             the nearby Iga area. When Nobuo went after them, he soon found that many of his castle’s own men were in fact Iga ninja in disguise. Knowing the ins and outs of the compund, they easily burned it to the          ground. Humiliated, he launched an attack, but was again defeated by Iga forces who shot at his army with firearms and arrows from cover. It was one of the first successful instances of guerrilla warfare in          Japan.

            His father chastised him for not hiring ninja of his own to spy out the enemy’s strength and position. Oda Nobunaga soon launched his own massive attack to eliminate them. At ten to one odds, and his ranks           including many Koga ninja, the Iga were quickly devastated. The defeat sent the remaining Iga ninja across all Japan, where they were eventually lost to the pages of history. Koga ninja continued to play         roles in several later battles, though the need for ninja in a time of peace was greatly diminished.

            3 Oniwaban
            Oniwaban
            via John Goode
            Another group of ninja worth mentioning is the Oniwaban. If you’ve ever seen the Rorouni Kenshin series, you might remember their anime incarnations. The real Oniwaban were a specialized group that worked            for the Tokugawa family. They wore black jackets, traditional samurai wear, and swords. Their main tasks was to secure Edo castle at night, but their more clandestine work often took them outside on secret       missions.

            They did background checks of anyone who worked in the castle, investigating them to make sure they were both worthy and not a security threat. When signs of treachery surfaced in a daimyo’s realm, the           Oniwaban were sent to ferret out any plots. Likewise, if a delegate from the capital was sent to oversee matters in another province, two Owniwaban would follow behind incognito to observe. They might be         considered the MI6 of ancient Japan.

            2 Ninja Equipment
            shuriken
            via Danny Choo
            Ninja used far too many weapons and tools to list here, but there were a few main items that almost every ninja had in his utility belt. Kunai, made popular in the Naruto anime, were in the ninja’s backpack,             but not as weapons. The little daggers were based off a masonry tool, and were usually used for going holes in walls, not people.

            Ninja-to, straight swords popularly thought to used by ninja, are actually an invention of the entertainment industry and are not real.

            Ninja wore katana just like the samurai. The only difference was that, because a ninja may be climbing over walls and running across roofs, he carried it on his back instead of at his hip. But since a ninja’         s main role was intelligence gathering, small, easily concealable weapons were preferred to more obvious ones. Shuriken were common, though the word itself referred to any kind of throwing weapon like darts          and knives, not only pointed stars. And one of the more famous weapons was the kusarigama, a small sickle with a chain on the end. This particular weapon lent itself to stealth, since if discovered, the      ninja could claim it was a gardening tool.

            Aside from weapons, ninja also had a number of other devices they could use to break into buildings. Ninja were masters of infiltration. Grappling hooks and collapsable ladders were a common way to get over          castle walls. There are legends about footwear that let shinobi walk on water, but so far none have proven to be true.

            1 Samurai vs. Ninja?
            samurai
            via txarli san
            There is a myth that ninja were the bane of samurai, but in reality the stealthy fighters were actually highly valued by Japan’s warrior class. Ninja did what samurai couldn’t. Spying and sabotaging were             necessities in war, and the samurai knew they needed ninja to carry out the kinds of covert operations that their honor would not allow them to perform. Often, ninja even worked side by side with samurai. In             at least one instance, they were recorded to have led samurai forces in night raids against a unsuspecting enemy.

            The most renown ninja were from the Iga and Koga clans, who lent themselves out to anyone willing to pay, but their fall didn’t diminish the need for highly-trained spies. Without any ninja clans to be hired             out, daimyo set to recruiting and training their own. Whether these ninja were of the same quality as the warriors from Iga and Koka is uncertain, but many of the remaining ninja, such as Hattori Hanzo,          joined forces with and served as samurai leaders themselves. Ninja were an essential part of war, and samurai both recognized and respected that.</p>
  </body>
</html>