<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Email Validator</title>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssnormalize/cssnormalize-min.css">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'email_checker/css/styles.css' %}" media="screen" title="no title"  charset="utf-8">
</head>

{% load  %}
<body>
    {% if messages %}
        {% for message in messages %}
            <h2>{{ message }}</h2>
        {% endfor %}
    {% endif %}
    <img src="{% static 'email_checker/images/wrastle.gif' %}" alt="energy">
    <form action="{% url 'email_checker:process' %}" method="post">
        {% csrf_token %}
        <label for="html_email"><h1>enter a VALID email address:</h1></label>
        <input type="text" name="html_email"><br>
        <input type="submit" value="submit"><br>
    </form>
</body>

</html>